
[submodule "public/external/popcorn-js"]
	path = public/external/popcorn-js
	url = https://github.com/mozilla/popcorn-js.git
[submodule "public/external/html5-lint"]
	path = public/external/html5-lint
	url = https://github.com/mozilla/html5-lint.git
