*.swp
*~
dist/
.DS_Store
*.bak
*.webm
*.mov
*.avi
*.ogg
*.ogv
*.oga
*.mp4
*.wav
*.mp3
*.sqlite
node_modules/
cornfield/view
public/css/butter.ui.css
public/css/embed.css
public/css/embed-shell.css
public/css/transitions.css
public/templates/basic/style.css
public/templates/assets/plugins/wikipedia/popcorn.wikipedia.css
public/templates/assets/plugins/twitter/popcorn.twitter.css
public/templates/assets/css/jquery-ui/jquery.ui.butter.css
public/src/ui/webmakernav/webmakernav.css
cornfield/config/runtime.json
cornfield/config/versions.json
docs
